
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.management-link{
    margin-left: 50px;
}
.children-link{
    padding: 5px 20px;
}
.body{
    margin-top: 50px;
}
.search-field{
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}
.btn-add-student:hover{
    color: #fff;
    background-color: #9da8b4;
    border-color: #6c757d;
}
.group-button{
    display: flex;
    justify-content: space-between  ;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.footer{
    background-color: #f8f9fa;
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.footer-end{
    padding: 30px;
}
.say-welcome{
    margin: 0;
}